@import "variables.less";
@import "mixins.less";
@import "normalize.less";
@import "utilities.less";




// Reset the box-sizing
// -------------------------

*,
*:before,
*:after {
  .box-sizing(border-box);
}


// Body reset
// -------------------------

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  height: 100%;
}

body {
  font:14px/24px Helvetica, Arial, Microsoft YaHei, Microsoft JhengHei;
  color: #212121;
  background-color: #e5e7e9;
  -webkit-text-size-adjust:100% !important;
  height: 100%;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

header,main{
  display: block;
}


h1,h2,h3,h4,h5,h6,p,ul,ol,li{
  margin: 0;
  padding:0;
  list-style:none;
}

a{
  text-decoration: none;
  color:#333333;
}

.text-danger{
  color:#ed2f2f;
}

.ft-24 {
  font-size: 24px;
}
.ft-16{
  font-size: 16px;
}
.ft-14{
  font-size: 14px;
}
.ft-12{
  font-size: 12px;
}


//ico
.ico{
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

}
.container{
  height: 100%;
  .transition-transform(.3s);
}

#header{
  position: fixed;
  width: 240px;
  height: 100%;
  background: #24272c;
  text-align: center;
  left: 0;
  top:0;
  z-index: 90000;
}
.navbar-header{
  height: 200px;
  overflow: hidden;
  position: relative;
  display: table;
  width: 100%;
  .navbar-brand{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    img{
      vertical-align: top;
      max-height: 100%;
      max-width: 100%;
    }
  }
}
.navbar-toggle{
  display: none;
  position: absolute;
  right: 11px;
  top:8px;
  border: none;
  height: 50px;
  width: 50px;
  text-indent: -99px;
  overflow: hidden;
  background: url(../img/ico-toggle.png) no-repeat center center;
}
.navbar-collapse{
  position: absolute;
  top:200px;
  bottom:0;
  left:0;
  width:100%;
}
.navbar-nav{
  padding-top: 0px;

  .main{
    position: relative;

    .title{
      height: 34px;
      overflow: hidden;
    }
    a{
      display: block;
      height: 100%;
      line-height: 34px;
      color:#fff;
      font-size:12px;

      &.en{
        .transition(.3s);
      }
    }

    &:hover{
      .title{
        background: #2e2f31;
      }
      a.en{
        margin-top: -34px;
      }
      .sub{
        height: auto;
        .translate3d(0,0,0);
        .opacity(1);
      }
    }
  }


  .sub{
    overflow: hidden;
    position: absolute;
    z-index: 90009;
    left:100%;
    top:0;
    width: 190px;
    height: 0;
    background: rgba(46,47,49,.9);
    .opacity(0);
    .translate3d(0,-30px,0);
    .transition(.3s);

    a{
      display: block;
      height: 34px;
      line-height: 34px;
      padding-left: 20px;
      text-align: left;
      &:hover{
        .opacity(.8);
      }
    }
  }
}

.navbar-bottom{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 15px;

  .qr-code{
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;

    img{
      vertical-align: top;
    }
  }
  .follow{
    height: 27px;
    overflow: hidden;
    margin-bottom: 20px;
    img{
      vertical-align: middle;

      &:hover{
        .opacity(.8);
      }
    }
  }
  .copyright{
    color: rgba(255,255,255,.3);
    font-size: 12px;
    line-height: 20px;

    a{
      color: rgba(255,255,255,.3);
    }
  }

}



#content{
  height: 100%;
  padding-left: 240px;
}


.slider-1{
  position: relative;
  height: 100%;
  width: 100%;
  background: #000000;
  overflow: hidden;


  .slider-item{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    z-index: 1;


  }

  .thumb{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
  }

  .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    background:url(../img/slider-bg.png) repeat-x center bottom;
    z-index: 3;
  }

  .info{
    position: absolute;
    left: 0;
    bottom:100px;
    width: 100%;
    text-align: center;
    z-index: 4;

    .desc{
      color: #fff;
      margin-bottom: 30px;
      padding:0 10%;
    }

    .link{
      display: inline-block;
      height: 50px;
      line-height: 50px;
      padding: 0 60px;
      background: #77699c;
      color: #fff;
      font-size: 12px;
      .transition(.5s);



      &:hover{
        background: #212121;
      }
    }



  }

  .slider-nav{
    position: absolute;
    left: 0;
    bottom:24px;
    width: 100%;
    text-align: center;
    z-index: 999999;
    li{
      display: inline-block;
      background: #fff;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      margin: 0 3px;
      cursor: pointer;
      .opacity(.5);

      &.active{
        .scale(1.1);
        .opacity(1);
      }
    }

  }

  .slider-item.active{
    z-index:2;
    .opacity(0);

    .info{
      .opacity(0);
    }

    &.fadeIn{
      .transition(.8s 0);
      .opacity(1);

      .thumb{
        .scale(1.1);
        .transition-transform(10s 0 linear);
      }

      .info{
        .opacity(1);
        .transition(.8s .5s);
      }




    }


  }


}



.slider-2{
  position: relative;
  width: 100%;
  background: #000000;


  .slider-item{
    position: relative;
    height: 600px;
    width: 100%;
    .opacity(.6);
    .transition(.3s);
  }

  .thumb{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
  }

  .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    background:url(../img/slider-bg.png) repeat-x center bottom;
    z-index: 3;
  }

  .info{
    position: absolute;
    left: 0;
    bottom:100px;
    width: 100%;
    text-align: center;
    z-index: 4;

    .desc{
      color: #fff;
      margin-bottom: 30px;
      padding:0 10%;
    }

    .link{
      display: inline-block;
      height: 50px;
      line-height: 50px;
      padding: 0 60px;
      background: #77699c;
      color: #fff;
      font-size: 12px;

      &:hover{
        background: #212121;
        .transition(.5s);
      }
    }

  }
  .slider-item:hover{
    .opacity(1);


  }
}


.slider-3{
  position: relative;
  width: 100%;
  height: 100%;
  background: #000000;
  overflow: hidden;

  .slider-list{
    height: 100%;
    width:0;
    position: absolute;
    overflow: hidden;
    left: 0;
    top:0;

    .transition(.5s);

  }

  .slider-item{
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .sub-item{
    float: left;
    width: 33.33%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .thumb{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    .transition-transform(.5s);
  }

  .mask{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    background: rgba(21,21,21,0);
    z-index: 3;
    .transition(.5s);
  }
  .info{
    position: absolute;
    left: 0;
    bottom:120px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    z-index: 4;
    color:#fff;
    cursor: pointer;
    .opacity(0);
    .transition(.5s .2s);
  }
  .slider-item:hover{
    .thumb{
      .scale(1.1);
    }
    .mask{
      background: rgba(21,21,21,.5);
    }
    .info{
      .opacity(1);
    }
  }

  .slider-nav-item{
    position: absolute;
    top:50%;
    height: 80px;
    width:80px;
    background: rgba(21,21,21,.5);
    .translate3d(0,-50%,0);
    .transition(background .3s);
    z-index: 8;

    &.prev{
      left: 0;
    }
    &.next{
      right: 0;
      .arrow{
        .scale(-1);
      }
    }


    .arrow{
      display: block;
      height: 100%;
      width: 100%;
      cursor: pointer;
      background: url(../img/arrow.png) center center no-repeat;
    }
  }

}


.slider-4{


  .slider-list{
    position: relative;
    //.opacity(0);
  }

  .slider-item{
    position: relative;
    //float: left;
    overflow: hidden;
  }

  .inner{
    position: relative;
  }


  .thumb{
    overflow: hidden;
    img{
      width: 100%;
      vertical-align: top;
      .transition-transform(.5s);
    }
  }
  .mask{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    background: rgba(21,21,21,0);
    z-index: 3;
    .transition(.5s);
  }

  .info{
    position: absolute;
    left: 0;
    top:50%;
    .translate3d(0,-50%,0);
    width: 100%;
    text-align: center;
    font-size: 24px;
    z-index: 4;
    color:#fff;
    cursor: pointer;
    .opacity(0);
    .transition(.5s .2s);
  }

  .slider-item:hover{
    .thumb{
      img{
        .scale(1.1);
      }

    }
    .mask{
      background: rgba(21,21,21,.5);
    }
    .info{
      .opacity(1);
    }
  }

  &.padding{
    padding: 10px;
    .slider-item{
      padding:10px;
    }
  }
  &.col-3{
    .slider-item{
      width:33.3%;
    }
  }
  &.col-4{
    .slider-item{
      width:25%;
    }
  }

}

.content-inner{
  background-size:cover;
  background-attachment: fixed;
  padding:40px 40px 80px 40px;
}
.block{
  background: rgba(255,255,255,.95);
  color:#212121;
  max-width:940px;
  overflow: hidden;


}
.block-about{


  .about-thumb{
    img{
      width: 100%;
      vertical-align: top;
    }
  }
  .about-content{
    padding:40px;
    overflow: hidden;


    img{
      max-width: 100%;
    }
  }


}

.block-contact{
  padding:40px;

  .contact-map{
    height: 300px;
    background: #f1f1f1;
  }
  .contact-content{
    padding-top:40px;
    overflow: hidden;

  }
  .editor-format{
    margin-bottom: 40px;
  }

  .contact-title{
    font-size: 18px;
    margin-bottom: 18px;
  }


  label{
    font-size: 12px;
  }
  .form-group{
    margin-bottom: 5px;
  }
  .form-control{
    border:1px rgba(21,21,21,.18) solid;
    background: rgba(255,255,255,.2);
    width: 100%;
    padding:4px 10px;

    &:focus{
      border:1px rgba(21,21,21,.5) solid;
      background: rgba(255,255,255,.4);
      outline: none;
    }
  }
  input.form-control{
    height: 26px;
    line-height: 18px;
  }
  textarea.form-control{
    height: 139px;
  }
  .form-bottom{
    float: right;
    padding-top: 10px;
  }
  .btn-submit{
    height: 40px;
    width: 160px;
    border: none;
    background: #212121;
    color:#fff;

  }
  .left,.right{
    float: left;
    width:50%
  }
  .left{
    padding-right: 20px;
  }
  .right{
    padding-left: 20px;
  }



}

.block-news{
  padding:40px;
  .news-item{
    position: relative;
    margin-bottom: 40px;

    .news-thumb{
      height: 500px;
      background-size: cover;
      background-position: center center;

      .mask{
        height: 100%;
        width: 100%;
        background: rgba(21,21,21,.5);
        display: none;
      }
      &:hover{
        .mask{
          display: block;
        }
      }
    }

    .news-time{
      position: absolute;
      height: 130px;
      width: 130px;
      text-align: center;
      color:#fff;
      font-weight: 700;
      left: 0;
      top:0;
      padding-top: 48px;
      .year{
        display: block;
        font-size: 12px;
        line-height: 12px;
      }
      .date{
        display: block;
        font-size: 18px;
      }

    }

    .title{
      font-size: 30px;
      line-height: 60px;

      a{
        color:#212121;
      }
    }
    .desc{
      font-size: 14px;
      line-height: 24px;
      color:rgba(21,21,21,.8);
      max-height:48px;
      overflow: hidden;
    }
    .detail{
      font-size: 14px;
      line-height: 24px;
      color:rgba(21,21,21,.8);
    }
  }

  .page{
    a{
      float:left;
      height: 45px;
      width: 45px;
      margin-right: 1px;
      line-height: 45px;
      text-align: center;
      background: rgba(21,21,21,.5);
      color: #fff;
    }
  }
  .share{
    border-top:1px #eee solid;
    height: 50px;
    padding-top: 15px;

    *, *:before, *:after{
      .box-sizing(content-box);
    }
  }


  &.black{
    background: #212121;
    color:#fff;
  }
}

.jiathis_style,.jiathis_style:before,.jiathis_style:after{
  .box-sizing(content-box);

  *, *:before, *:after{
    .box-sizing(content-box);
  }

  input, button, select, textarea {
    line-height: normal;
  }
}



.editor-format{
  font-size:14px;
  line-height: 24px;

  h1{
    font-size: 48px;
    line-height: 58px;
    margin: 1em 0;
  }
  h2{
    font-size: 36px;
    line-height: 46px;
    margin: 1em 0;
  }
  h3{
    font-size: 30px;
    line-height: 40px;
    margin: 1em 0;
  }
  h4{
    font-size: 24px;
    line-height: 34px;
    margin: 1em 0;
  }
  h5{
    font-size: 18px;
    line-height: 28px;
    margin: 1em 0;
  }

  p{
    margin: 1em 0;
  }

  ul{
    margin: 1em 0 1em 1em;
    li{
      display: list-item;
      list-style: disc inside;
    }
  }
  ol{
    margin: 1em 0 1em 1em;
    li{
      display: list-item;
      list-style: decimal inside;
    }
  }

  &>*:first-child{
    margin-top: 0;
  }
  &>*:last-child{
    margin-bottom: 0;
  }

}


.block.black{
  background: rgba(21,21,21,.95);
  color:#fff;


  .form-control{
    color: #fff;
  }
  .btn-submit{
    background: #ffffff;
    color:#212121;
  }
}


@media (max-width: 1024px){
  .navbar-bottom .qr-code img,
  .navbar-bottom .follow img {
  display: none;
}
  .side-active{
    .container{
      .translate3d(-225px,0,0);
    }
  }
  #header{
    position: absolute;
    height: 72px;
    width: 100%;
    left: 0;
    top: 0;
  }

  .navbar-header{
    height: 100%;
    width: 240px;

    .navbar-brand{
      text-align: left;
      padding-left: 20px;
      img{
        height: 60px;
      }

    }

  }
  .navbar-toggle{
    display: block;
  }
  .navbar-collapse{
    position:fixed;
    top:0;
    left: 100%;
    background: #24272c;
    width: 225px;
  }

  .navbar-nav{
    .main{
      a{
        font-size: 14px;
      }

      &:hover{
        .title{
          background: none;
        }
        a.en{
          margin-top: 0;
        }
        .sub{
          height: auto;
          .translate3d(0,0,0);
          .opacity(1);
        }
      }
    }

    .sub{
      overflow: hidden;
      position: static;
      z-index: 1;
      height: auto;
      width: auto;
      background: none;
      .opacity(1);
      .translate3d(0,0,0);
      .transition(none);

      a{
        padding-left: 0;
        text-align: center;
        .opacity(.8);

      }
    }
  }

  #content{
    padding:72px 0 0;
  }

  .slider-1{
    height:auto;

    .slider-item{
      position: relative;
      height:600px;
    }

    .slider-nav{
      display: none;
    }

    .info{
      bottom:60px;
    }

    .slider-item.active{
      .opacity(1);

      .info{
        .opacity(1);
      }

      &.fadeIn{
        .transition(none);

        .thumb{
          .scale(1);
          .transition-transform(none);
        }



      }


    }
  }

  .slider-2{
    .info{
      bottom:60px;
    }
  }


  .slider-3{
    height: auto;

    .slider-list{
      height: auto;
      position: relative;
      width: 100%;
    }

    .slider-item{
      float: none;
      height: 600px;
      width: 100%;
    }



    .info{
      .opacity(1);
      bottom:60px;
      font-size: 16px;
    }

    .slider-nav-item{
      display: none;
    }

  }



  .slider-4{
    padding:0;
    .slider-item{
      width: 50%;
      padding:0;
    }

    .slider-item:hover{
      .thumb{
        img{
          .scale(1);
        }

      }
      .mask{
        background: rgba(21,21,21,0);
      }
      .info{
        .opacity(0);
      }
    }

    &.padding,
    &.col-3,
    &.col-4{
      padding:0;
      .slider-item{
        padding:0;
        width: 50%;
      }

    }

  }


  .content-inner{
    padding:0;
  }
  .block{
    max-width: none;
  }
  .block-about{
    width:100%;
    padding:20px;

    .about-content{
      padding:20px 0 0;
    }

  }
  .editor-format{
    font-size:12px;
    line-height: 24px;

    h1,h2,h3,h4,h5{
      font-size: 18px;
      line-height: 28px;
    }


  }


  .block-news{
    width: 100%;
    padding:20px;
    .news-item{
      margin-bottom: 50px;

      .news-thumb{
        height: 400px;
      }

      .news-time{
        height: 100px;
        width: 100px;
        padding-top: 32px;

        .date{
          font-size: 14px;
        }

      }

      .title{
        font-size: 18px;
        line-height: 60px;

      }
      .desc{
        font-size: 12px;
        line-height: 24px;
      }

      .more{
        font-size: 12px;
      }
    }



  }


  .block-contact{
    width: 100%;
    padding:20px;

    .contact-map{
      height: 200px;
    }
    .contact-content{
      padding-top:20px;
    }
    .editor-format{
      margin-bottom: 20px;
    }

    .form-bottom{
      float: none;
      padding-top: 10px;
    }
    .btn-submit{
      width: 100%;
    }
    .left,.right{
      float: none;
      width:100%;
      padding:0;
    }

  }

}




@media (max-width: 720px){

  .slider-1,
  .slider-2{
    .slider-item{
      height:480px;
    }
  }
  .slider-3{
    .sub-item{
      height: 480px;
    }
  }
  .block-news{
    .news-item {
      .news-thumb {
        height: 300px;
      }
    }
  }

}

@media (max-width: 640px){
  .block-news{
    .news-item {
      .news-time{
        height: 70px;
        width: 70px;
        padding-top: 20px;



      }
    }
  }
}

@media (max-width: 480px){

  .slider-1,
  .slider-2{
    .slider-item{
      height:320px;
    }

    .desc{
      display: none;
    }
  }

  .slider-3{
    .sub-item{
      height: 320px;
    }
  }

  .block-news{
    .news-item {
      .news-thumb {
        height: 200px;
      }
    }
  }

}