/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.affix {
  position: fixed;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}
body {
  font: 14px/24px Helvetica, Microsoft YaHei, Microsoft JhengHei,  Arial;
  color: #212121;
  background-color: #e5e7e9;
  -webkit-text-size-adjust: 100% !important;
  height: 100%;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
header,
main {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}
.text-danger {
  color: #ed2f2f;
}

.ft-24 {
  font-size: 24px;
}
.ft-16 {
  font-size: 16px;
}
.ft-14 {
  font-size: 14px;
}
.ft-12 {
  font-size: 12px;
}
.ico {
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}
#header {
  position: fixed;
  width: 240px;
  height: 100%;
  background: #24272c;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 90000;
}
.navbar-header {
  height: 200px;
  overflow: hidden;
  position: relative;
  display: table;
  width: 100%;
}
.navbar-header .navbar-brand {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}
.navbar-header .navbar-brand img {
  vertical-align: top;
  max-height: 100%;
  max-width: 100%;
}
.navbar-toggle {
  display: none;
  position: absolute;
  right: 11px;
  top: 8px;
  border: none;
  height: 50px;
  width: 50px;
  text-indent: -99px;
  overflow: hidden;
  background: url(../img/ico-toggle.png) no-repeat center center;
}
.navbar-collapse {
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 0;
  width: 100%;
}
.navbar-nav {
  padding-top: 20px;
}
.navbar-nav .main {
  position: relative;
}
.navbar-nav .main .title {
  height: 34px;
  overflow: hidden;
}
.navbar-nav .main a {
  display: block;
  height: 100%;
  line-height: 34px;
  color: #fff;
  font-size: 12px;
}
.navbar-nav .main a.en {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar-nav .main:hover .title {
  background: #2e2f31;
}
.navbar-nav .main:hover a.en {
  margin-top: -34px;
}
.navbar-nav .main:hover .sub {
  height: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-nav .sub {
  overflow: hidden;
  position: absolute;
  z-index: 90009;
  left: 100%;
  top: 0;
  width: 190px;
  height: 0;
  background: rgba(46, 47, 49, 0.9);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar-nav .sub a {
  display: block;
  height: 34px;
  line-height: 34px;
  padding-left: 20px;
  text-align: left;
}
.navbar-nav .sub a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.navbar-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 15px;
}
.navbar-bottom .qr-code {
  text-align: center;
  overflow: hidden;
  margin-bottom: 30px;
}
.navbar-bottom .qr-code img {
  vertical-align: top;
}
.navbar-bottom .follow {
  height: 27px;
  overflow: hidden;
  margin-bottom: 20px;
}
.navbar-bottom .follow img {
  vertical-align: middle;
}
.navbar-bottom .follow img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.navbar-bottom .copyright {
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
  line-height: 20px;
}
.navbar-bottom .copyright a {
  color: rgba(255, 255, 255, 0.3);
}
#content {
  height: 100%;
  padding-left: 240px;
}
.slider-1 {
  position: relative;
  height: 100%;
  width: 100%;
  background: #000000;
  overflow: hidden;
}
.slider-1 .slider-item {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.slider-1 .thumb {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.slider-1 .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: url(../img/slider-bg.png) repeat-x center bottom;
  z-index: 3;
}
.slider-1 .info {
  position: absolute;
  left: 0;
  bottom: 100px;
  width: 100%;
  text-align: center;
  z-index: 4;
}
.slider-1 .info .desc {
  color: #fff;
  margin-bottom: 30px;
  padding: 0 10%;
}
.slider-1 .info .link {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 60px;
  background: #77699c;
  color: #fff;
  font-size: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider-1 .info .link:hover {
  background: #212121;
}
.slider-1 .slider-nav {
  position: absolute;
  left: 0;
  bottom: 24px;
  width: 100%;
  text-align: center;
  z-index: 999999;
}
.slider-1 .slider-nav li {
  display: inline-block;
  background: #fff;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.slider-1 .slider-nav li.active {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
  filter: alpha(opacity=100);
}
.slider-1 .slider-item.active {
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.slider-1 .slider-item.active .info {
  opacity: 0;
  filter: alpha(opacity=0);
}
.slider-1 .slider-item.active.fadeIn {
  -webkit-transition: 0.8s 0;
  transition: 0.8s 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.slider-1 .slider-item.active.fadeIn .thumb {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 10s 0 linear;
  -moz-transition: -moz-transform 10s 0 linear;
  -o-transition: -o-transform 10s 0 linear;
  transition: transform 10s 0 linear;
}
.slider-1 .slider-item.active.fadeIn .info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.8s 0.5s;
  transition: 0.8s 0.5s;
}
.slider-2 {
  position: relative;
  width: 100%;
  background: #000000;
}
.slider-2 .slider-item {
  position: relative;
  height: 600px;
  width: 100%;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slider-2 .thumb {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.slider-2 .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: url(../img/slider-bg.png) repeat-x center bottom;
  z-index: 3;
}
.slider-2 .info {
  position: absolute;
  left: 0;
  bottom: 100px;
  width: 100%;
  text-align: center;
  z-index: 4;
}
.slider-2 .info .desc {
  color: #fff;
  margin-bottom: 30px;
  padding: 0 10%;
}
.slider-2 .info .link {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 60px;
  background: #77699c;
  color: #fff;
  font-size: 12px;
}
.slider-2 .info .link:hover {
  background: #212121;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider-2 .slider-item:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.slider-3 {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000000;
  overflow: hidden;
}
.slider-3 .slider-list {
  height: 100%;
  width: 0;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider-3 .slider-item {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slider-3 .sub-item {
  float: left;
  width: 33.33%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slider-3 .thumb {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
.slider-3 .mask {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(21, 21, 21, 0);
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider-3 .info {
  position: absolute;
  left: 0;
  bottom: 120px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  z-index: 4;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.5s 0.2s;
  transition: 0.5s 0.2s;
}
.slider-3 .slider-item:hover .thumb {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.slider-3 .slider-item:hover .mask {
  background: rgba(21, 21, 21, 0.5);
}
.slider-3 .slider-item:hover .info {
  opacity: 1;
  filter: alpha(opacity=100);
}
.slider-3 .slider-nav-item {
  position: absolute;
  top: 50%;
  height: 80px;
  width: 80px;
  background: rgba(21, 21, 21, 0.5);
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  z-index: 8;
}
.slider-3 .slider-nav-item.prev {
  left: 0;
}
.slider-3 .slider-nav-item.next {
  right: 0;
}
.slider-3 .slider-nav-item.next .arrow {
  -webkit-transform: scale(-1);
  -ms-transform: scale(-1);
  transform: scale(-1);
}
.slider-3 .slider-nav-item .arrow {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: url(../img/arrow.png) center center no-repeat;
}
.slider-4 .slider-list {
  position: relative;
}
.slider-4 .slider-item {
  position: relative;
  overflow: hidden;
}
.slider-4 .inner {
  position: relative;
}
.slider-4 .thumb {
  overflow: hidden;
}
.slider-4 .thumb img {
  width: 100%;
  vertical-align: top;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
.slider-4 .mask {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(21, 21, 21, 0);
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider-4 .info {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  width: 100%;
  text-align: center;
  font-size: 24px;
  z-index: 4;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.5s 0.2s;
  transition: 0.5s 0.2s;
}
.slider-4 .slider-item:hover .thumb img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.slider-4 .slider-item:hover .mask {
  background: rgba(21, 21, 21, 0.5);
}
.slider-4 .slider-item:hover .info {
  opacity: 1;
  filter: alpha(opacity=100);
}
.slider-4.padding {
  padding: 10px;
}
.slider-4.padding .slider-item {
  padding: 10px;
}
.slider-4.col-3 .slider-item {
  width: 33.3%;
}
.slider-4.col-4 .slider-item {
  width: 25%;
}
.content-inner {
  background-size: cover;
  background-attachment: fixed;
  padding: 40px;
}
.block {
  background: rgba(255, 255, 255, 0.95);
  color: #212121;
  max-width: 940px;
  overflow: hidden;
}
.block-about .about-thumb img {
  width: 100%;
  vertical-align: top;
}
.block-about .about-content {
  padding: 40px;
  overflow: hidden;
}
.block-about .about-content img {
  max-width: 100%;
}
.block-contact {
  padding: 40px;
}
.block-contact .contact-map {
  height: 300px;
  background: #f1f1f1;
}
.block-contact .contact-content {
  padding-top: 40px;
  overflow: hidden;
}
.block-contact .editor-format {
  margin-bottom: 40px;
}
.block-contact .contact-title {
  font-size: 18px;
  margin-bottom: 18px;
}
.block-contact label {
  font-size: 12px;
}
.block-contact .form-group {
  margin-bottom: 5px;
}
.block-contact .form-control {
  border: 1px rgba(21, 21, 21, 0.18) solid;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  padding: 4px 10px;
}
.block-contact .form-control:focus {
  border: 1px rgba(21, 21, 21, 0.5) solid;
  background: rgba(255, 255, 255, 0.4);
  outline: none;
}
.block-contact input.form-control {
  height: 26px;
  line-height: 18px;
}
.block-contact textarea.form-control {
  height: 139px;
}
.block-contact .form-bottom {
  float: right;
  padding-top: 10px;
}
.block-contact .btn-submit {
  height: 40px;
  width: 160px;
  border: none;
  background: #212121;
  color: #fff;
}
.block-contact .left,
.block-contact .right {
  float: left;
  width: 50%;
}
.block-contact .left {
  padding-right: 20px;
}
.block-contact .right {
  padding-left: 20px;
}
.block-news {
  padding: 40px;
}
.block-news .news-item {
  position: relative;
  margin-bottom: 40px;
}
.block-news .news-item .news-thumb {
  height: 500px;
  background-size: cover;
  background-position: center center;
}
.block-news .news-item .news-thumb .mask {
  height: 100%;
  width: 100%;
  background: rgba(21, 21, 21, 0.5);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.block-news .news-item .news-thumb:hover .mask {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.block-news .news-item .news-time {
  position: absolute;
  height: 130px;
  width: 130px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  left: 0;
  top: 0;
  padding-top: 48px;
}
.block-news .news-item .news-time .year {
  display: block;
  font-size: 12px;
  line-height: 12px;
}
.block-news .news-item .news-time .date {
  display: block;
  font-size: 18px;
}
.block-news .news-item .title {
  font-size: 30px;
  line-height: 60px;
}
.block-news .news-item .title a {
  color: #212121;
}
.block-news .news-item .desc {
  font-size: 14px;
  line-height: 24px;
  color: rgba(21, 21, 21, 0.8);
  max-height: 48px;
  overflow: hidden;
}
.block-news .news-item .detail {
  font-size: 14px;
  line-height: 24px;
  color: rgba(21, 21, 21, 0.8);
}
.block-news .page a {
  float: left;
  height: 45px;
  width: 45px;
  margin-right: 1px;
  line-height: 45px;
  text-align: center;
  background: rgba(21, 21, 21, 0.5);
  color: #fff;
}
.block-news .share {
  border-top: 1px #eee solid;
  height: 50px;
  padding-top: 15px;
}
.block-news .share *,
.block-news .share *:before,
.block-news .share *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.block-news.black {
  background: #212121;
  color: #fff;
}
.jiathis_style,
.jiathis_style:before,
.jiathis_style:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.jiathis_style *,
.jiathis_style:before *,
.jiathis_style:after *,
.jiathis_style *:before,
.jiathis_style:before *:before,
.jiathis_style:after *:before,
.jiathis_style *:after,
.jiathis_style:before *:after,
.jiathis_style:after *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.jiathis_style input,
.jiathis_style:before input,
.jiathis_style:after input,
.jiathis_style button,
.jiathis_style:before button,
.jiathis_style:after button,
.jiathis_style select,
.jiathis_style:before select,
.jiathis_style:after select,
.jiathis_style textarea,
.jiathis_style:before textarea,
.jiathis_style:after textarea {
  line-height: normal;
}
.editor-format {
  font-size: 14px;
  line-height: 24px;
}
.editor-format h1 {
  font-size: 48px;
  line-height: 58px;
  margin: 1em 0;
}
.editor-format h2 {
  font-size: 36px;
  line-height: 46px;
  margin: 1em 0;
}
.editor-format h3 {
  font-size: 30px;
  line-height: 40px;
  margin: 1em 0;
}
.editor-format h4 {
  font-size: 24px;
  line-height: 34px;
  margin: 1em 0;
}
.editor-format h5 {
  font-size: 18px;
  line-height: 28px;
  margin: 1em 0;
}
.editor-format p {
  margin: 1em 0;
}
.editor-format ul {
  margin: 1em 0 1em 1em;
}
.editor-format ul li {
  display: list-item;
  list-style: disc inside;
}
.editor-format ol {
  margin: 1em 0 1em 1em;
}
.editor-format ol li {
  display: list-item;
  list-style: decimal inside;
}
.editor-format > *:first-child {
  margin-top: 0;
}
.editor-format > *:last-child {
  margin-bottom: 0;
}
.block.black {
  background: rgba(21, 21, 21, 0.95);
  color: #fff;
}
.block.black .form-control {
  color: #fff;
}
.block.black .btn-submit {
  background: #ffffff;
  color: #212121;
}
@media (max-width: 1024px) {
  .side-active .container {
    -webkit-transform: translate3d(-225px, 0, 0);
    transform: translate3d(-225px, 0, 0);
  }
  #header {
    position: absolute;
    height: 72px;
    width: 100%;
    left: 0;
    top: 0;
  }
  .navbar-header {
    height: 100%;
    width: 240px;
  }
  .navbar-header .navbar-brand {
    text-align: left;
    padding-left: 20px;
  }
  .navbar-header .navbar-brand img {
    height: 60px;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 100%;
    background: #24272c;
    width: 225px;
  }
  .navbar-nav .main a {
    font-size: 12px;
  }
  .navbar-nav .main:hover .title {
    background: none;
  }
  .navbar-nav .main:hover a.en {
    margin-top: 0;
  }
  .navbar-nav .main:hover .sub {
    height: auto;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .navbar-nav .sub {
    overflow: hidden;
    position: static;
    z-index: 1;
    height: auto;
    width: auto;
    background: none;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: none;
    transition: none;
  }
  .navbar-nav .sub a {
    padding-left: 0;
    text-align: center;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  #content {
    padding: 72px 0 0;
  }
  .slider-1 {
    height: auto;
  }
  .slider-1 .slider-item {
    position: relative;
    height: 600px;
  }
  .slider-1 .slider-nav {
    display: none;
  }
  .slider-1 .info {
    bottom: 40px;
  }
  .slider-1 .slider-item.active {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .slider-1 .slider-item.active .info {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .slider-1 .slider-item.active.fadeIn {
    -webkit-transition: none;
    transition: none;
  }
  .slider-1 .slider-item.active.fadeIn .thumb {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform none;
    -moz-transition: -moz-transform none;
    -o-transition: -o-transform none;
    transition: transform none;
  }
  .slider-2 .info {
    bottom: 60px;
  }
  .slider-3 {
    height: auto;
  }
  .slider-3 .slider-list {
    height: auto;
    position: relative;
    width: 100%;
  }
  .slider-3 .slider-item {
    float: none;
    height: 600px;
    width: 100%;
  }
  .slider-3 .info {
    opacity: 1;
    filter: alpha(opacity=100);
    bottom: 60px;
    font-size: 16px;
  }
  .slider-3 .slider-nav-item {
    display: none;
  }
  .slider-4 {
    padding: 0;
  }
  .slider-4 .slider-item {
    width: 50%;
    padding: 0;
  }
  .slider-4 .slider-item:hover .thumb img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .slider-4 .slider-item:hover .mask {
    background: rgba(21, 21, 21, 0);
  }
  .slider-4 .slider-item:hover .info {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .slider-4.padding,
  .slider-4.col-3,
  .slider-4.col-4 {
    padding: 0;
  }
  .slider-4.padding .slider-item,
  .slider-4.col-3 .slider-item,
  .slider-4.col-4 .slider-item {
    padding: 0;
    width: 50%;
  }
  .content-inner {
    padding: 0;
  }
  .block {
    max-width: none;
  }
  .block-about {
    width: 100%;
    padding: 20px;
  }
  .block-about .about-content {
    padding: 20px 0 0;
  }
  .editor-format {
    font-size: 12px;
    line-height: 24px;
  }
  .editor-format h1,
  .editor-format h2,
  .editor-format h3,
  .editor-format h4,
  .editor-format h5 {
    font-size: 18px;
    line-height: 28px;
  }
  .block-news {
    width: 100%;
    padding: 20px;
  }
  .block-news .news-item {
    margin-bottom: 50px;
  }
  .block-news .news-item .news-thumb {
    height: 400px;
  }
  .block-news .news-item .news-time {
    height: 100px;
    width: 100px;
    padding-top: 32px;
  }
  .block-news .news-item .news-time .date {
    font-size: 14px;
  }
  .block-news .news-item .title {
    font-size: 18px;
    line-height: 60px;
  }
  .block-news .news-item .desc {
    font-size: 12px;
    line-height: 24px;
  }
  .block-news .news-item .more {
    font-size: 12px;
  }
  .block-contact {
    width: 100%;
    padding: 20px;
  }
  .block-contact .contact-map {
    height: 200px;
  }
  .block-contact .contact-content {
    padding-top: 20px;
  }
  .block-contact .editor-format {
    margin-bottom: 20px;
  }
  .block-contact .form-bottom {
    float: none;
    padding-top: 10px;
  }
  .block-contact .btn-submit {
    width: 100%;
  }
  .block-contact .left,
  .block-contact .right {
    float: none;
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 720px) {
  .slider-1 .info {
    bottom: 20px;
  }
  .slider-1 .slider-item,
  .slider-2 .slider-item {
    height: 480px;
  }
  .slider-3 .sub-item {
    height: 480px;
  }
  .block-news .news-item .news-thumb {
    height: 300px;
  }
}
@media (max-width: 640px) {
  .block-news .news-item .news-time {
    height: 70px;
    width: 70px;
    padding-top: 20px;
  }
}
@media (max-width: 480px) {

  .navbar-nav .main .title {
  height: 24px;
}

.navbar-nav .sub a {
  height: 26px;
  line-height: 26px;
}
  
  .navbar-bottom .qr-code img,
  .navbar-bottom .follow img {
  display: none;
}
  .slider-1 .slider-item,
  .slider-2 .slider-item {
    height: 320px;
  }
  .slider-1 .desc,
  .slider-2 .desc {
    display: none;
  }
  .slider-3 .sub-item {
    height: 320px;
  }
  .block-news .news-item .news-thumb {
    height: 200px;
  }
}